<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:skos="http://www.w3.org/2004/02/skos/core#">
   <skos:Concept rdf:ID="prochainereunion">
      <skos:prefLabel>Prochaine réunion</skos:prefLabel>
      <skos:altLabel>prochaine réunion</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ouliposhow">
      <skos:prefLabel>Oulipo show</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="spectaclequeneau">
      <skos:prefLabel>Spectacle Queneau</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloquescienceetlitterature">
      <skos:prefLabel>colloque Science et Littérature</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageoulipo">
      <skos:prefLabel>Stage Oulipo</skos:prefLabel>
      <skos:altLabel>Stage oulipo</skos:altLabel>
      <skos:altLabel>stage oulipo</skos:altLabel>
      <skos:altLabel>stage OULIPO</skos:altLabel>
      <skos:altLabel>stage Oulipo</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congres">
      <skos:prefLabel>congrès</skos:prefLabel>
      <skos:altLabel>Congrès</skos:altLabel>
      <skos:altLabel>CONGRÈS</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdenovembre">
      <skos:prefLabel>Congrès de novembre</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="avignon">
      <skos:prefLabel>Avignon</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="semainedavignon">
      <skos:prefLabel>semaine d’Avignon</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="semainearoyaumont">
      <skos:prefLabel>semaine à Royaumont</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="europalia">
      <skos:prefLabel>Europalia</skos:prefLabel>
      <skos:altLabel>EUROPALIA</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="nouvellemanifestationenfevrieroumars1976aucentrepompidou">
      <skos:prefLabel>nouvelle manifestation (en février ou mars 1976) au Centre Pompidou</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipiadesdubaruchcollege">
      <skos:prefLabel>Oulipiades du Baruch College</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipiades">
      <skos:prefLabel>Oulipiades</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lectureoulipo">
      <skos:prefLabel>lecture OULIPO</skos:prefLabel>
      <skos:altLabel>lecture Oulipo</skos:altLabel>
      <skos:altLabel>Lecture Oulipo</skos:altLabel>
      <skos:altLabel>lecture oulipo</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="recitaldechansonssurdestextesderq">
      <skos:prefLabel>récital de chansons sur des textes de RQ</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="cerisy">
      <skos:prefLabel>Cerisy</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipoastockholm">
      <skos:prefLabel>Oulipo à Stockholm</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="uneexpoenjanvier79">
      <skos:prefLabel>une expo en janvier 79</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expositionqueneau">
      <skos:prefLabel>Exposition Queneau</skos:prefLabel>
      <skos:altLabel>exposition Queneau</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="communication">
      <skos:prefLabel>communication</skos:prefLabel>
      <skos:altLabel>Communication</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="decade">
      <skos:prefLabel>Décade</skos:prefLabel>
      <skos:altLabel>décade</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="interventionalen">
      <skos:prefLabel>intervention à l’E.N</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="interventionaucentrefrancois">
      <skos:prefLabel>intervention au Centre François</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seancedeloulipo">
      <skos:prefLabel>séance de l’Oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="villeneuve">
      <skos:prefLabel>Villeneuve</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloqueperec">
      <skos:prefLabel>Colloque Perec</skos:prefLabel>
      <skos:altLabel>colloque Perec</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="etapesamsterdam">
      <skos:prefLabel>étapes Amsterdam</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seminairedintoxication">
      <skos:prefLabel>séminaire d’intoxication</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="conferencealinstituthpoincare">
      <skos:prefLabel>conférence à l’Institut H. Poincaré</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="prochainereunionlundi29mars">
      <skos:prefLabel>Prochaine réunion  : lundi 29 mars</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="bourges">
      <skos:prefLabel>Bourges</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="apostrophes">
      <skos:prefLabel>Apostrophes</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="actionpoetique">
      <skos:prefLabel>Action Poétique</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seanceoulipodu23marsabeaubourg">
      <skos:prefLabel>séance Oulipo du 23 mars à Beaubourg</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ande">
      <skos:prefLabel>Andé</skos:prefLabel>
      <skos:altLabel>ANDÉ</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="royaumont">
      <skos:prefLabel>Royaumont</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="thionville">
      <skos:prefLabel>Thionville</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="limoges">
      <skos:prefLabel>Limoges</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="presentationdestravauxordinateur">
      <skos:prefLabel>présentation des travaux ordinateur</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lecture">
      <skos:prefLabel>lecture</skos:prefLabel>
      <skos:altLabel>Lecture</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="villeneuvelesavignon">
      <skos:prefLabel>Villeneuve-lès-Avignon</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="journeeoulipobeaubourg">
      <skos:prefLabel>Journée Oulipo Beaubourg</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="rencontresoulipo">
      <skos:prefLabel>Rencontres Oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="journeeoulipo">
      <skos:prefLabel>Journée Oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloquerrousselanice">
      <skos:prefLabel>Colloque R.Roussel à Nice</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="presentationbaruchcuny">
      <skos:prefLabel>Présentation Baruch CUNY</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="soireeperec">
      <skos:prefLabel>Soirée Perec</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagederoyaumont">
      <skos:prefLabel>stage de Royaumont</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stage">
      <skos:prefLabel>Stage</skos:prefLabel>
      <skos:altLabel>stage</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageayerres">
      <skos:prefLabel>Stage à Yerres</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagelimoges">
      <skos:prefLabel>Stage Limoges</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagealamo">
      <skos:prefLabel>Stage Alamo</skos:prefLabel>
      <skos:altLabel>stage alamo</skos:altLabel>
      <skos:altLabel>stage Alamo</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="levenementdujeudi">
      <skos:prefLabel>L’événement du jeudi</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="conferencede">
      <skos:prefLabel>conférence de</skos:prefLabel>
      <skos:altLabel>Conférence de</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="presentationnouvelleaprogramme">
      <skos:prefLabel>Présentation Nouvelle à programme</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expositionblaisegautier">
      <skos:prefLabel>Exposition Blaise Gautier</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expositionmarcelduchamp">
      <skos:prefLabel>exposition Marcel Duchamp</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="bruxelles">
      <skos:prefLabel>Bruxelles</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="amsterdam">
      <skos:prefLabel>Amsterdam</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ottawa">
      <skos:prefLabel>Ottawa</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="tokyo">
      <skos:prefLabel>Tokyo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="strasbourg">
      <skos:prefLabel>Strasbourg</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="semaineoulipo">
      <skos:prefLabel>Semaine Oulipo</skos:prefLabel>
      <skos:altLabel>semaine Oulipo</skos:altLabel>
      <skos:altLabel>semaine OULIPO</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="festivitesdelaroutedelareine">
      <skos:prefLabel>festivités de la Route de la Reine</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="liege">
      <skos:prefLabel>Liège</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="laffaireliegeoise">
      <skos:prefLabel>l’affaire liégeoise</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="spectacleoulipo">
      <skos:prefLabel>spectacle OuLiPo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="nouvellemanifestationenfevriermars1976aucentrepompidou">
      <skos:prefLabel>nouvelle manifestation (en février –mars 1976) au Centre Pompidou</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="conferenceasaintetienne">
      <skos:prefLabel>conférence à Saint Etienne</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="journeeecrivainordinateurdejuin77">
      <skos:prefLabel>journée écrivain-ordinateur de Juin 77</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="encongresaboulogne">
      <skos:prefLabel>"en congrès" à Boulogne</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="nantes">
      <skos:prefLabel>Nantes</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloquequeneau">
      <skos:prefLabel>colloque Queneau</skos:prefLabel>
      <skos:altLabel>Colloque Queneau</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagedevilleneuve">
      <skos:prefLabel>stage de Villeneuve</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stages">
      <skos:prefLabel>stages</skos:prefLabel>
      <skos:altLabel>Stages</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipogalaxie">
      <skos:prefLabel>Oulipo Galaxie</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagedamiens">
      <skos:prefLabel>stage d’Amiens</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lectureperec">
      <skos:prefLabel>Lecture Perec</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipocerisy">
      <skos:prefLabel>Oulipo-Cerisy</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="beaubourg">
      <skos:prefLabel>Beaubourg</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="aixenprovence">
      <skos:prefLabel>Aix en Provence</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lahaye">
      <skos:prefLabel>La Haye</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="larevueparleeror">
      <skos:prefLabel>La revue parlée « R.O.R. »</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="vitoria">
      <skos:prefLabel>Vitoria</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdumillenaire">
      <skos:prefLabel>Congrès du Millénaire</skos:prefLabel>
      <skos:altLabel>CONGRES DU MILLENAIRE</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipostarparadisoulipien">
      <skos:prefLabel>OULIPO. STAR. Paradis oulipien</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lectureathletes">
      <skos:prefLabel>Lecture « Athlètes ».</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="moispataphysiquedemontreal">
      <skos:prefLabel>mois pataphysique de Montréal</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="bruxellesexposition">
      <skos:prefLabel>Bruxelles : Exposition</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="reuniondeloulipoaliege">
      <skos:prefLabel>réunion de l’OuLiPo à Liège</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloque">
      <skos:prefLabel>colloque</skos:prefLabel>
      <skos:altLabel>Colloque</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seancexenakis">
      <skos:prefLabel>séance Xénakis</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="biennaledevenise">
      <skos:prefLabel>Biennale de Venise</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="festivaldevilleneuvelesavignon">
      <skos:prefLabel>Festival de Villeneuve-les-Avignon</skos:prefLabel>
      <skos:altLabel>Festival de Villeneuve-lès-Avignon</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="dialogues">
      <skos:prefLabel>Dialogues</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="atelierdecritureacerisy83">
      <skos:prefLabel>Atelier d’écriture à Cerisy 83</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="decadeoulipo">
      <skos:prefLabel>décade Oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipoavilleneuve">
      <skos:prefLabel>Oulipo à Villeneuve</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="perecoulipoqueneau">
      <skos:prefLabel>Perec-oulipo-Queneau</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="rencontresignature">
      <skos:prefLabel>rencontre-signature</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ordinateuretecrivains">
      <skos:prefLabel>ordinateur et écrivains</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="andeauprintemps">
      <skos:prefLabel>Andé au printemps</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="exposition">
      <skos:prefLabel>Exposition</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seminairede">
      <skos:prefLabel>séminaire de</skos:prefLabel>
      <skos:altLabel>Séminaire de</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="salondelautomobile">
      <skos:prefLabel>Salon de l’Automobile</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="organisationgeneraledesreunionsdeloulipo">
      <skos:prefLabel>Organisation générale des réunions de l’Oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seanceoulipo">
      <skos:prefLabel>Séance OuLiPo</skos:prefLabel>
      <skos:altLabel>séance Oulipo</skos:altLabel>
      <skos:altLabel>séance OULIPO</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="readhall">
      <skos:prefLabel>Read Hall</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagedesaintquentin">
      <skos:prefLabel>stage de Saint Quentin</skos:prefLabel>
      <skos:altLabel>Stage de Saint-Quentin</skos:altLabel>
      <skos:altLabel>stage de Saint-Quentin</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagealamaisondugesteetdelimage">
      <skos:prefLabel>stage à la Maison du Geste et de l’Image</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="maipataphysique">
      <skos:prefLabel>Mai Pataphysique</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="semaineperec">
      <skos:prefLabel>semaine Perec</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdupremiermillenaire">
      <skos:prefLabel>CONGRES DU PREMIER MILLENAIRE</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="theatre">
      <skos:prefLabel>Théâtre</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="actions">
      <skos:prefLabel>Actions</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="soiree24">
      <skos:prefLabel>soirée 24</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lapierouge">
      <skos:prefLabel>la pie rouge</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="portcros">
      <skos:prefLabel>Port Cros</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="immateriaux">
      <skos:prefLabel>Immatériaux</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipovilleneuve">
      <skos:prefLabel>Oulipo Villeneuve</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageavitria">
      <skos:prefLabel>stage à Vitria</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lexpositionlucsimon">
      <skos:prefLabel>l’exposition Luc Simon</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="jeuxoulipiques">
      <skos:prefLabel>jeux oulipiques</skos:prefLabel>
      <skos:altLabel>Jeux OuLiPiques</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="rencontredelyon">
      <skos:prefLabel>rencontre de Lyon</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seancebeaubourg">
      <skos:prefLabel>séance Beaubourg</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="hommageaqueneau">
      <skos:prefLabel>hommage à Queneau</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ivrylecture">
      <skos:prefLabel>Ivry. Lecture</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stquentin">
      <skos:prefLabel>St Quentin</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="operationchristophecolomb">
      <skos:prefLabel>Opération Christophe Colomb</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="manifestationoulipodejanvier76">
      <skos:prefLabel>manifestation oulipo de Janvier 76</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expositionoulipo">
      <skos:prefLabel>exposition oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloqueic">
      <skos:prefLabel>colloque IC</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="soireequeneau">
      <skos:prefLabel>soirée Queneau</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expositionvalerenovarina">
      <skos:prefLabel>Exposition Valère Novarina</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="weekendoulipodemennecy">
      <skos:prefLabel>week-end Oulipo de Mennecy</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipomathematiquesetpoesie">
      <skos:prefLabel>OuLiPo, Mathématiques et Poésie</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdande">
      <skos:prefLabel>congrès d’Andé</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageoulipoalimoges">
      <skos:prefLabel>Stage Oulipo à Limoges</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="albipourdec82">
      <skos:prefLabel>Albi pour déc. 82</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lyon">
      <skos:prefLabel>Lyon</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lexpositiondubuffet">
      <skos:prefLabel>l’exposition Dubuffet</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="queneauetlaville">
      <skos:prefLabel>Queneau et la Ville</skos:prefLabel>
      <skos:altLabel>Queneau et la ville</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="rameilnantes">
      <skos:prefLabel>Rameil Nantes</skos:prefLabel>
      <skos:altLabel>Rameil-Nantes</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagedepaques">
      <skos:prefLabel>Stage de Pâques</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="journeepoetiquedu23avril">
      <skos:prefLabel>Journée poétique du 23 avril</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lahayeorganisationdunstage">
      <skos:prefLabel>La Haye organisation d’un stage</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloquedalbisurlavenirdelaculture">
      <skos:prefLabel>Colloque d’Albi sur l’avenir de la culture</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="journeedes2xii">
      <skos:prefLabel>journée des 2XII</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="programmeivrydu5mai87">
      <skos:prefLabel>programme Ivry du 5 Mai 87</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="reims">
      <skos:prefLabel>Reims</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ivry">
      <skos:prefLabel>Ivry</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="marseille">
      <skos:prefLabel>Marseille</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="mexico">
      <skos:prefLabel>Mexico</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="arsenal">
      <skos:prefLabel>Arsenal</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="journeeecrivainsalgorithmeordinateur">
      <skos:prefLabel>journée Ecrivains Algorithme ordinateur</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="rouen">
      <skos:prefLabel>Rouen</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="toulouse">
      <skos:prefLabel>Toulouse</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="salondulivre">
      <skos:prefLabel>Salon du livre</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="grandefiestapataphysique">
      <skos:prefLabel>grande fiesta pataphysique</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="amiens">
      <skos:prefLabel>Amiens</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lecturelimours">
      <skos:prefLabel>lecture Limours</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="manifestationoulipo">
      <skos:prefLabel>manifestation Oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expoqueneau">
      <skos:prefLabel>expo Queneau</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expositiontemporaire">
      <skos:prefLabel>exposition temporaire</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="marchedelapoesie">
      <skos:prefLabel>Marché de la poésie</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ouliposhowmontreal">
      <skos:prefLabel>Oulipo Show Montréal</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="exposeaamiens">
      <skos:prefLabel>exposé à Amiens</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdenotreviemecentenaire">
      <skos:prefLabel>Congrès de notre VIème Centenaire</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seminairelinguistiquequantitative">
      <skos:prefLabel>Séminaire Linguistique quantitative</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="supercocktail">
      <skos:prefLabel>Super-Cocktail</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="decadecerisyenne">
      <skos:prefLabel>décade cerisyenne</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="decadedeloulipo">
      <skos:prefLabel>décade de l’OuLiPo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="manifestation">
      <skos:prefLabel>manifestation</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="journeeecrivainsordinateur">
      <skos:prefLabel>journée écrivains-ordinateur</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ordinateuretecrivain">
      <skos:prefLabel>Ordinateur et écrivain</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="pompidou">
      <skos:prefLabel>Pompidou</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageaavignon">
      <skos:prefLabel>stage à Avignon</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lectureoulipienne">
      <skos:prefLabel>lecture Oulipienne</skos:prefLabel>
      <skos:altLabel>lecture oulipienne</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="alamo">
      <skos:prefLabel>ALAMO</skos:prefLabel>
      <skos:altLabel>Alamo</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="soiree">
      <skos:prefLabel>Soirée</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="hommage">
      <skos:prefLabel>Hommage</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="biennaledepoesie">
      <skos:prefLabel>Biennale de poésie</skos:prefLabel>
      <skos:altLabel>biennale de poésie</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdesprofesseursdefrancais">
      <skos:prefLabel>Congrès des professeurs de français</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloqueadavos">
      <skos:prefLabel>colloque à Davos</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloquepereccerisy">
      <skos:prefLabel>Colloque Perec Cerisy</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="tourneeoulipoaliege">
      <skos:prefLabel>tournée Oulipo à Liège</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lalectureoulipoautheatreduquartierdivry">
      <skos:prefLabel>la lecture oulipo au Théâtre du quartier d’Ivry</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageavilleneuve">
      <skos:prefLabel>stage à Villeneuve</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ordinateur">
      <skos:prefLabel>Ordinateur</skos:prefLabel>
      <skos:altLabel>ordinateur</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lafureurdelire">
      <skos:prefLabel>la fureur de lire</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="evreux">
      <skos:prefLabel>Evreux</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="serres21janvier">
      <skos:prefLabel>Serres 21 janvier</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="spectaclezerki">
      <skos:prefLabel>spectacle Zerki</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="pentecoteabourges">
      <skos:prefLabel>Pentecôte à Bourges</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="preprimtec">
      <skos:prefLabel>Preprimtec</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="festivaldepoesieaucentreamericain">
      <skos:prefLabel>Festival de poésie au Centre américain</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expositionpourbourges">
      <skos:prefLabel>exposition pour Bourges</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ladecadedecerisy">
      <skos:prefLabel>la décade de Cerisy</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lesheritiersdequeneau">
      <skos:prefLabel>Les héritiers de Queneau</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipo2emillenaire">
      <skos:prefLabel>Oulipo 2e millénaire</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="creteil">
      <skos:prefLabel>Créteil</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oupeinpo">
      <skos:prefLabel>Oupeinpo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulibasque">
      <skos:prefLabel>OULIBASQUE</skos:prefLabel>
      <skos:altLabel>Oulibasque</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdesanfrancisco1974">
      <skos:prefLabel>Congrès de San Francisco 1974</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipo83cerisy">
      <skos:prefLabel>Oulipo 83 Cerisy</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdu2janvier">
      <skos:prefLabel>Congrès du 2 janvier</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seminaireande">
      <skos:prefLabel>séminaire Andé</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congressemantique">
      <skos:prefLabel>congrès sémantique</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lexpositionbeaubourgeoiselesimmateriaux">
      <skos:prefLabel>l’exposition beaubourgeoise « Les immatériaux »</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagedyerres">
      <skos:prefLabel>stage d’Yerres</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="verviers">
      <skos:prefLabel>Verviers</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="hericy">
      <skos:prefLabel>Héricy</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="pennedutarn">
      <skos:prefLabel>Penne-du-Tarn</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="tourneedelacompagniecatherinedaste">
      <skos:prefLabel>tournée de la compagnie Catherine Dasté</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="preprimtech">
      <skos:prefLabel>Preprimtech</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="festivaldepoesie">
      <skos:prefLabel>Festival de poésie</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="tricentenaire">
      <skos:prefLabel>tricentenaire</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="aspectsludiquesdanslalitteraturepourlajeunesse">
      <skos:prefLabel>aspects ludiques dans la littérature pour la jeunesse</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ecrivainsordinateur">
      <skos:prefLabel>écrivains-ordinateur</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="columbia">
      <skos:prefLabel>Columbia</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congrespedagogique">
      <skos:prefLabel>Congrès pédagogique</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expooupeinpo">
      <skos:prefLabel>Expo Oupeinpo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="communications">
      <skos:prefLabel>Communications</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expositionconference">
      <skos:prefLabel>Exposition conférence</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="manifestationdeloulipo">
      <skos:prefLabel>manifestation de l’OULIPO</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="festivalculturelcalvino">
      <skos:prefLabel>Festival Culturel Calvino</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloquedecerisy">
      <skos:prefLabel>colloque de Cerisy</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="semaineoulipodejuillet">
      <skos:prefLabel>semaine oulipo de juillet</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="francsbourgeois">
      <skos:prefLabel>Francs-Bourgeois</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="celebrationnanterrienne">
      <skos:prefLabel>célébration Nanterrienne</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="manifestationdeuropalia">
      <skos:prefLabel>manifestation d’EUROPALIA</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagesommieres">
      <skos:prefLabel>stage Sommières</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloquesurlapermutation">
      <skos:prefLabel>Colloque sur la permutation</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagetulle">
      <skos:prefLabel>Stage Tulle</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdautomne">
      <skos:prefLabel>congrès d’automne</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="iiiecongres">
      <skos:prefLabel>IIIè congrès</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seminairecreatifoulipo">
      <skos:prefLabel>séminaire créatif oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="villeneuveexpo">
      <skos:prefLabel>Villeneuve Expo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="journeescbeck">
      <skos:prefLabel>journées C. Beck</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="quinzaineinformatiqueetlitteratureapompidou">
      <skos:prefLabel>quinzaine informatique et littérature à Pompidou</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloquedelinguistiqueappliquee">
      <skos:prefLabel>colloque de linguistique appliquée</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdumimillenaire">
      <skos:prefLabel>Congrès du mi-millénaire</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="beaubourg80">
      <skos:prefLabel>Beaubourg 80</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagele1011juin">
      <skos:prefLabel>stage le 10-11 juin</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="conferenceoulipo">
      <skos:prefLabel>conférence OULIPO</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageliege">
      <skos:prefLabel>Stage Liège</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ateliersdecrituredecerisy">
      <skos:prefLabel>Ateliers d’écriture de Cerisy</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ateliers">
      <skos:prefLabel>Ateliers</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="hommageagp">
      <skos:prefLabel>Hommage à GP </skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagesurlanouvelle">
      <skos:prefLabel>Stage sur la nouvelle</skos:prefLabel>
      <skos:altLabel>stage sur la nouvelle</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagedete">
      <skos:prefLabel>stage d’été</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="salonoct89">
      <skos:prefLabel>Salon oct. 89</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="conference">
      <skos:prefLabel>conférence</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="weekenddetravail">
      <skos:prefLabel>Weekend de travail</skos:prefLabel>
      <skos:altLabel>week-end de travail</skos:altLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="spectacledepoemesroubaud">
      <skos:prefLabel>spectacle de poèmes-Roubaud</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="delalecturealecriture">
      <skos:prefLabel>De la lecture à l’écriture</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lecturedeloulipo">
      <skos:prefLabel>lecture de l’Oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="mehico">
      <skos:prefLabel>Mehico</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="florence">
      <skos:prefLabel>Florence</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="loulipoavilleneuve">
      <skos:prefLabel>l’oulipo à Villeneuve</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="reunionexceptionnelle">
      <skos:prefLabel>réunion exceptionnelle</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="medaillesfield">
      <skos:prefLabel>médailles Field</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdelunioninternationaledesmathematiciens">
      <skos:prefLabel>Congrès de l’Union Internationale des Mathématiciens</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expositionbn">
      <skos:prefLabel>Exposition BN.</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresoulipo">
      <skos:prefLabel>Congrès Oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="banquetducnac">
      <skos:prefLabel>banquet du CNAC</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seminairedelinguistiquequantitative">
      <skos:prefLabel>Séminaire de Linguistique quantitative</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresannueldelouvroir">
      <skos:prefLabel>congrès annuel de l’Ouvroir</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lexposition">
      <skos:prefLabel>l’exposition</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seminairedelacan">
      <skos:prefLabel>séminaire de Lacan</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="saintquentin">
      <skos:prefLabel>Saint-Quentin</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="festivaldelitteraturepourlajeunesse">
      <skos:prefLabel>Festival de Littérature pour la jeunesse</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageoulipoanewyorkenoctobreounovembre1987">
      <skos:prefLabel>stage OULIPO à New York en Octobre ou Novembre 1987</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="manifestationsoulipiennes">
      <skos:prefLabel>manifestations oulipiennes</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="conferenceaorsaysurlitteratureetmathematiques">
      <skos:prefLabel>conférence à Orsay sur Littérature et mathématiques</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdenotrequatorziemecentenaire">
      <skos:prefLabel>Congrès de notre quatorzième centenaire</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagealiege">
      <skos:prefLabel>Stage à Liège</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lecturequenienne">
      <skos:prefLabel>lecture quenienne</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="linformatiqueetlavieculturelle">
      <skos:prefLabel>L’informatique et la vie culturelle.</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="conferencealens">
      <skos:prefLabel>conférence à l’ENS</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="weekenddemannecy">
      <skos:prefLabel>week-end de Mannecy</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="garedunord">
      <skos:prefLabel>Gare du Nord</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="decadedecerisy">
      <skos:prefLabel>décade de Cerisy</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="conferencedevian">
      <skos:prefLabel>conférence d’Evian</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloquedebesancon">
      <skos:prefLabel>colloque de Besançon</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="reunionspeciale">
      <skos:prefLabel>réunion spéciale</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="concoursdesartistes">
      <skos:prefLabel>Concours des Artistes</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="reunionfacultative">
      <skos:prefLabel>réunion facultative</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="semaineoulipoalachartreusedevilleneuvelesavignon">
      <skos:prefLabel>semaine Oulipo à la Chartreuse de Villeneuve-lès-Avignon</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="manifestationoulipoabruxelles">
      <skos:prefLabel>manifestation Oulipo à Bruxelles</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="manifestationdebruxelles">
      <skos:prefLabel>manifestation de Bruxelles</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seminaireperec">
      <skos:prefLabel>Séminaire Perec</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="avb">
      <skos:prefLabel>AVB</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expositionmallarme">
      <skos:prefLabel>exposition Mallarmé</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagesdevreux">
      <skos:prefLabel>Stages d’Evreux</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="amiensverres">
      <skos:prefLabel>Amiens + Verres</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="voyageenbelgique">
      <skos:prefLabel>voyage en Belgique</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdu6emecentenaire">
      <skos:prefLabel>Congrès du 6ème Centenaire</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="corbeilsemaineromanpolicier">
      <skos:prefLabel>Corbeil : semaine roman policier </skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lectureouliposurlarime">
      <skos:prefLabel>lecture Oulipo sur la Rime</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="semaineoulipoaroyaumont">
      <skos:prefLabel>semaine oulipo à Royaumont</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="moisdelapoesieaaix">
      <skos:prefLabel>Mois de la poésie à Aix</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lecturedelaviemodedemploiapompidou">
      <skos:prefLabel>lecture de La vie mode d'emploi à Pompidou</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seminairecreatifaumoulin">
      <skos:prefLabel>séminaire créatif au Moulin</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagevilleneuve">
      <skos:prefLabel>Stage Villeneuve</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagevitoria">
      <skos:prefLabel>Stage Vitoria</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="festivaldelanouvelledesaintquentin">
      <skos:prefLabel>festival de la nouvelle de Saint-Quentin</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lexpositionlesimmateriaux">
      <skos:prefLabel>l’expositionLes Immatériaux</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="peinpo">
      <skos:prefLabel>Peinpo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="nrf">
      <skos:prefLabel>NRF.</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="letricentenairedelafondationdeloulipo">
      <skos:prefLabel>le tricentenaire de la fondation de l’OuLiPo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congrestypeorsay">
      <skos:prefLabel>congrès type Orsay</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="oulipo3000">
      <skos:prefLabel>Oulipo 3000</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="foiredemexico">
      <skos:prefLabel>Foire de Mexico</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lesmathematiquesetlart">
      <skos:prefLabel>Les Mathématiques et l'Art</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lecturepoetiqueaivry">
      <skos:prefLabel>lecture poétique à Ivry</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="manifestationqueneau">
      <skos:prefLabel>Manifestation Queneau</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="decadesurstages">
      <skos:prefLabel>décade sur stages</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresdumoulindandre">
      <skos:prefLabel>congrès du Moulin d'André</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagedevilleneuvelesavignon">
      <skos:prefLabel>stage de Villeneuve-les-Avignon</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageoulipoamiens">
      <skos:prefLabel>stage Oulipo-Amiens</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="representationachatenay">
      <skos:prefLabel>représentation à Chatenay</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lectureoulipoaivry">
      <skos:prefLabel>Lecture Oulipo à Ivry</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="spectacleroubaud">
      <skos:prefLabel>Spectacle Roubaud</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="tableronde">
      <skos:prefLabel>Table-Ronde</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="reuniondelhotelplazaathenee">
      <skos:prefLabel>réunion de l’Hôtel Plaza-Athénée</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageamiens">
      <skos:prefLabel>stage Amiens</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="conferencesurlinguistiquestructurale">
      <skos:prefLabel>Conférence sur linguistique structurale</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="soireeoulipo">
      <skos:prefLabel>Soirée oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="nuitfureurdelire">
      <skos:prefLabel>Nuit. Fureur de lire.</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="conferencesurloulipoalinstitutpoincare">
      <skos:prefLabel>conférence sur l’OuLiPo à l'Institut Poincaré</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="journeeschbek">
      <skos:prefLabel>journées Ch. Bek</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="davos">
      <skos:prefLabel>Davos</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloqueargot">
      <skos:prefLabel>Colloque argot</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lecturefnac">
      <skos:prefLabel>lecture FNAC</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloqueplagiat">
      <skos:prefLabel>colloque plagiat</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="hommagearoubaud">
      <skos:prefLabel>Hommage à Roubaud</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="salernofestivaldepoesie">
      <skos:prefLabel>Salerno Festival de Poésie</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lemillenaire">
      <skos:prefLabel>LE MILLENAIRE</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lecturequeneau">
      <skos:prefLabel>lecture Queneau</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="montreal">
      <skos:prefLabel>Montréal</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="expositionasaintcloud">
      <skos:prefLabel>exposition à Saint-Cloud</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lectureaaixoubeaubourg">
      <skos:prefLabel>lecture à Aix ou Beaubourg</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="spectaclelectureavilleneuve">
      <skos:prefLabel>spectacle-lecture à Villeneuve</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="penserclasserabeaubourg">
      <skos:prefLabel>Penser-classer à Beaubourg</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="spectacleperecavilleneuvelesavignon">
      <skos:prefLabel>spectacle Perec à Villeneuve lès Avignon</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="emissionspecialesurgeorgesperec">
      <skos:prefLabel>émission spéciale sur Georges Perec</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="millefeuille">
      <skos:prefLabel>Millefeuille</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lecturegpaumillefeuilles">
      <skos:prefLabel>Lecture GP au Millefeuilles</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lhommageafll">
      <skos:prefLabel>L’hommage à FLL</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="congresande">
      <skos:prefLabel>congrès/Andé</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lesimmateriaux">
      <skos:prefLabel>Les immatériaux</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lacommemorationdu10clinamen">
      <skos:prefLabel>la commémoration du 10 clinamen</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="concoursdenewstatesman">
      <skos:prefLabel>Concours de New Statesman</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lexpositionderisorangis">
      <skos:prefLabel>l'exposition de Ris Orangis</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloqueoulipo">
      <skos:prefLabel>Colloque Oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageoulipoderajat">
      <skos:prefLabel>stage OuLiPo de Rajat</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seminaireaumoulindande">
      <skos:prefLabel>séminaire au Moulin d’Andé</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stagedelahaye">
      <skos:prefLabel>stage de La Haye</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="soireebruxelloise">
      <skos:prefLabel>soirée bruxelloise</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="soireeoulipienneabruxelles">
      <skos:prefLabel>Soirée oulipienne à Bruxelles</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="seminairequeneau">
      <skos:prefLabel>séminaire Queneau</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="exposealenssurloulipoetordinateurs">
      <skos:prefLabel>exposé à l’ENS sur l’oulipo et ordinateurs</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="amiensstage">
      <skos:prefLabel>Amiens : stage</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="millefeuillesjourneeoulipo">
      <skos:prefLabel>Millefeuilles : journée oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="visitedeloulipo">
      <skos:prefLabel>visite de l’oulipo</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloquesurlacontrainte">
      <skos:prefLabel>colloque sur la contrainte</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="cambridge">
      <skos:prefLabel>Cambridge</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="festivalinternationaldepoesie">
      <skos:prefLabel>Festival international de poésie</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lordinateurbeaubourg">
      <skos:prefLabel>l’ordinateur Beaubourg</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="ecrivainsetordinateur">
      <skos:prefLabel>écrivains et ordinateur</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="enregistrementdeloulipoaverviers">
      <skos:prefLabel>Enregistrement de l’OuLiPo à Verviers</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="stageportcros">
      <skos:prefLabel>Stage Port Cros</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="journeeoulipo23">
      <skos:prefLabel>journée oulipo 23</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="hommageaperec">
      <skos:prefLabel>hommage à Perec</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="lectures">
      <skos:prefLabel>Lectures</skos:prefLabel>
   </skos:Concept>
   <skos:Concept rdf:ID="colloquerq">
      <skos:prefLabel>colloque RQ</skos:prefLabel>
   </skos:Concept>
</rdf:RDF>
