<?xml version="1.0" encoding="UTF-8"?><?xml-model href="../thesauri.rng"?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:skos="http://www.w3.org/2004/02/skos/core#">
  <skos:Concept rdf:ID="actionpoetique">
    <skos:prefLabel>Action Poétique</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="aixenprovence">
    <skos:prefLabel>Aix en Provence</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="alamo">
    <skos:altLabel>Alamo</skos:altLabel>
    <skos:prefLabel>Stage Alamo</skos:prefLabel>
    <skos:altLabel>ALAMO</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="amiensstage">
    <skos:altLabel>Amiens</skos:altLabel>
    <skos:prefLabel>Stage à Amiens</skos:prefLabel>
    <skos:altLabel>Amiens : stage</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="ande">
    <skos:altLabel>ANDE</skos:altLabel>
    <skos:altLabel>Andé</skos:altLabel>
    <skos:altLabel>Andé au printemps</skos:altLabel>
    <skos:prefLabel>Moulin d’Andé</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="apostrophes">
    <skos:prefLabel>Apostrophes</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="arsenal">
    <skos:prefLabel>Arsenal</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="ateliersdecrituredecerisy">
    <skos:altLabel>Ateliers</skos:altLabel>
    <skos:altLabel>Atelier d'écriture à Cerisy 83</skos:altLabel>
    <skos:prefLabel>Ateliers d'écriture de Cerisy</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="avignon">
    <skos:prefLabel>Avignon</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="banquetducnac">
    <skos:prefLabel>Banquet du CNAC</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="beaubourg">
    <skos:altLabel>Beaubourg 80</skos:altLabel>
    <skos:prefLabel>Beaubourg</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="biennaledepoesie">
    <skos:altLabel>biennale de poésie</skos:altLabel>
    <skos:prefLabel>Biennale de poésie</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="biennaledevenise">
    <skos:prefLabel>Biennale de Venise</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="bourges">
    <skos:prefLabel>Bourges</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="bruxelles">
    <skos:altLabel>Bruxelles : Exposition</skos:altLabel>
    <skos:prefLabel>Bruxelles</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="cambridge">
    <skos:prefLabel>Cambridge (Festival international de poésie)</skos:prefLabel>
    <skos:altLabel>Cambridge</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="celebrationnanterrienne">
    <skos:prefLabel>Célébration Nanterrienne</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="cerisy">
    <skos:prefLabel>Cerisy</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloque">
    <skos:altLabel>Colloque</skos:altLabel>
    <skos:prefLabel>Colloque</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloqueadavos">
    <skos:prefLabel>Colloque à Davos</skos:prefLabel>
    <skos:altLabel>Davos</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloquealbi">
    <skos:altLabel>Albi déc. 82</skos:altLabel>
    <skos:prefLabel>Colloque d'Albi sur l'avenir de la culture</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloqueargot">
    <skos:altLabel>Colloque argot</skos:altLabel>
    <skos:prefLabel>Colloque sur l’argot</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloquedebesancon">
    <skos:prefLabel>Colloque de Besançon</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloquedecerisy">
    <skos:prefLabel>Colloque de Cerisy</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloquedelinguistiqueappliquee">
    <skos:prefLabel>Colloque de linguistique appliquée</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloqueic">
    <skos:altLabel>Colloque IC</skos:altLabel>
    <skos:prefLabel>Colloque Italo Calvino</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloqueoulipo">
    <skos:prefLabel>Colloque Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloqueperec">
    <skos:altLabel>colloque Perec</skos:altLabel>
    <skos:altLabel>Colloque Perec Cerisy</skos:altLabel>
    <skos:prefLabel>Colloque Perec</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloqueplagiat">
    <skos:prefLabel>Colloque sur le plagiat (Ottawa)</skos:prefLabel>
    <skos:altLabel>Colloque sur le plagiat</skos:altLabel>
    <skos:altLabel>Ottawa</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloquerq">
    <skos:altLabel>Colloque Queneau</skos:altLabel>
    <skos:altLabel>Colloque Queneau</skos:altLabel>
    <skos:prefLabel>Colloque Raymond Queneau</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloquerrousselanice">
    <skos:prefLabel>Colloque R. Roussel à Nice</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloquescienceetlitterature">
    <skos:prefLabel>Colloque Science et Littérature</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloquesurlacontrainte">
    <skos:prefLabel>Colloque sur la contrainte</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="colloquesurlapermutation">
    <skos:prefLabel>Colloque sur la permutation</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="columbia">
    <skos:altLabel>Columbia </skos:altLabel>
    <skos:prefLabel>Conférence-débat à la Columbia University</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="communication">
    <skos:prefLabel>Communication</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="Communication">
    <skos:altLabel>Communications</skos:altLabel>
    <skos:prefLabel>Communication</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="concoursdenewstatesman">
    <skos:prefLabel>Concours de New Statesman</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="concoursdesartistes">
    <skos:prefLabel>Concours des Artistes</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="conference">
    <skos:altLabel>Conférence de</skos:altLabel>
    <skos:prefLabel>Conférence</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="conferencealens">
    <skos:prefLabel>Conférence à l'ENS</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="conferencealinstituthpoincare">
    <skos:prefLabel>Conférence à l'Institut H. Poincaré</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="conferenceaorsaysurlitteratureetmathematiques">
    <skos:prefLabel>Conférence à Orsay sur Littérature et mathématiques</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="conferenceasaintetienne">
    <skos:prefLabel>Conférence à Saint Etienne</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="conferencede">
    <skos:prefLabel>Conférence de</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="conferencedevian">
    <skos:prefLabel>Conférence d'Evian</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="conferenceoulipo">
    <skos:prefLabel>Conférence Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="conferencesurlinguistiquestructurale">
    <skos:prefLabel>Conférence sur linguistique structurale</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="conferencesurloulipoalinstitutpoincare">
    <skos:prefLabel>Conférence sur l'Oulipo à l'Institut Poincaré</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congres">
    <skos:altLabel>CONGRÈS</skos:altLabel>
    <skos:altLabel>Congrès type Orsay</skos:altLabel>
    <skos:altLabel>en Congrès à Boulogne</skos:altLabel>
    <skos:altLabel>IIIè Congrès</skos:altLabel>
    <skos:prefLabel>Congrès</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congresdelunioninternationaledesmathematiciens">
    <skos:prefLabel>Congrès de l'Union Internationale des Mathématiciens</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congresdenovembre">
    <skos:prefLabel>Congrès de novembre</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congresdesanfrancisco1974">
    <skos:prefLabel>Congrès de San Francisco 1974</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congresdesprofesseursdefrancais">
    <skos:prefLabel>Congrès des professeurs de français</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congresdu2janvier">
    <skos:prefLabel>Congrès du 2 janvier 1967</skos:prefLabel>
    <skos:altLabel>Congrès du 2 janvier</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congresdu6emecentenaire">
    <skos:altLabel>Congrès de notre VIème Centenaire</skos:altLabel>
    <skos:prefLabel>Congrès du 6ème Centenaire</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congresdumillenaire">
    <skos:prefLabel>CONGRES DU MILLENAIRE</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congresdumoulindandre">
    <skos:altLabel>Congrès d'Andé</skos:altLabel>
    <skos:altLabel>Congrès/Andé</skos:altLabel>
    <skos:prefLabel>Congrès du Moulin d'Andé</skos:prefLabel>
    <skos:altLabel>Congrès du Moulin d'André</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congresoulipo">
    <skos:altLabel>Congrès de notre quatorzième centenaire</skos:altLabel>
    <skos:altLabel>Congrès du mi-millénaire</skos:altLabel>
    <skos:altLabel>Congrès du Millénaire</skos:altLabel>
    <skos:altLabel>Congres du premier millenaire</skos:altLabel>
    <skos:altLabel>Congrès annuel de l'Ouvroir</skos:altLabel>
    <skos:altLabel>Congrès d'automne</skos:altLabel>
    <skos:prefLabel>Congrès Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congrespedagogique">
    <skos:prefLabel>Congrès pédagogique</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="congressemantique">
    <skos:prefLabel>Congrès sémantique</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="corbeilsemaineromanpolicier">
    <skos:prefLabel>Corbeil : Semaine roman policier </skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="creteil">
    <skos:prefLabel>Créteil</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="decade">
    <skos:prefLabel>décade</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="decadedecerisy">
    <skos:altLabel>Décade</skos:altLabel>
    <skos:altLabel>décade cerisyenne</skos:altLabel>
    <skos:altLabel>la décade de Cerisy</skos:altLabel>
    <skos:prefLabel>Décade de Cerisy</skos:prefLabel>
    <skos:altLabel>Manifestation</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="decadeoulipo">
    <skos:altLabel>Décade Oulipo</skos:altLabel>
    <skos:prefLabel>Décade de l'Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="decadesurstages">
    <skos:prefLabel>Décade sur stages</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="delalecturealecriture">
    <skos:prefLabel>De la Lecture à l'Écriture</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="dialogues">
    <skos:prefLabel>Emission « Dialogues »</skos:prefLabel>
    <skos:altLabel>Dialogues</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="emissionspecialesurgeorgesperec">
    <skos:prefLabel>Émission spéciale sur Georges Perec</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="enregistrementdeloulipoaverviers">
    <skos:prefLabel>Enregistrement de l'Oulipo à Verviers</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="etapesamsterdam">
    <skos:prefLabel>Étapes Amsterdam</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="europalia">
    <skos:altLabel>EUROPALIA</skos:altLabel>
    <skos:prefLabel>Europalia</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expooupeinpo">
    <skos:prefLabel>Exposition Oupeinpo</skos:prefLabel>
    <skos:altLabel>Expo Oupeinpo</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="exposeaamiens">
    <skos:prefLabel>Exposé à Amiens</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="exposealenssurloulipoetordinateurs">
    <skos:prefLabel>Exposé à l'ENS sur l'Oulipo et ordinateurs</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="exposition">
    <skos:altLabel>l'exposition</skos:altLabel>
    <skos:altLabel>exposition temporaire</skos:altLabel>
    <skos:prefLabel>Exposition</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expositionasaintcloud">
    <skos:prefLabel>Exposition à Saint-Cloud</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expositionblaisegautier">
    <skos:prefLabel>Exposition Blaise Gautier</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expositionbn">
    <skos:prefLabel>Exposition Bibliothèque nationale</skos:prefLabel>
    <skos:altLabel>Exposition BN.</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expositionconference">
    <skos:prefLabel>Exposition Conférence</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expositionmallarme">
    <skos:prefLabel>Exposition Mallarmé</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expositionmarcelduchamp">
    <skos:prefLabel>Exposition Marcel Duchamp</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expositionoulipo">
    <skos:prefLabel>Exposition Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expositionpourbourges">
    <skos:prefLabel>Exposition pour Bourges</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expositionqueneau">
    <skos:altLabel>Expo Queneau</skos:altLabel>
    <skos:altLabel>exposition Queneau</skos:altLabel>
    <skos:prefLabel>Exposition Queneau</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expositionrisorangis">
    <skos:altLabel>l'exposition de Ris Orangis</skos:altLabel>
    <skos:prefLabel>Exposition de Ris Orangis</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="expositionvalerenovarina">
    <skos:prefLabel>Exposition Valère Novarina</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="festivalculturelcalvino">
    <skos:prefLabel>Festival Culturel Calvino</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="festivaldelanouvelledesaintquentin">
    <skos:prefLabel>Festival de la nouvelle de Saint-Quentin</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="festivaldelitteraturepourlajeunesse">
    <skos:prefLabel>Festival de Littérature pour la jeunesse</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="festivaldepoesie">
    <skos:altLabel>Festival de poésie au Centre américain</skos:altLabel>
    <skos:prefLabel>Festival de poésie</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="festivaldevilleneuvelesavignon">
    <skos:altLabel>Festival de Villeneuve-lès-Avignon</skos:altLabel>
    <skos:prefLabel>Festival de Villeneuve-les-Avignon</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="festivalinternationaldepoesie">
    <skos:prefLabel>Festival international de poésie</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="festivitesdelaroutedelareine">
    <skos:prefLabel>Festivités de la Route de la Reine</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="florence">
    <skos:prefLabel>Florence</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="foiredemexico">
    <skos:prefLabel>Foire de Mexico</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="grandefiestapataphysique">
    <skos:prefLabel>Grande fiesta pataphysique</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="hericy">
    <skos:prefLabel>Héricy</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="hommage">
    <skos:prefLabel>Hommage à FLL</skos:prefLabel>
    <skos:altLabel>Hommage</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="hommageagp">
    <skos:altLabel>Hommage à GP</skos:altLabel>
    <skos:prefLabel>Hommage à Perec</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="hommageaqueneau">
    <skos:prefLabel>Hommage à Queneau</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="hommagearoubaud">
    <skos:prefLabel>Hommage à Roubaud</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="interventionalen">
    <skos:prefLabel>Intervention à l'E.N.</skos:prefLabel>
    <skos:altLabel>Intervention à l'E.N.</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="interventionaucentrefrancois">
    <skos:prefLabel>Intervention au Centre François</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="ivry">
    <skos:prefLabel>Ivry</skos:prefLabel>
    <skos:altLabel>Ivry. Lecture</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="jeuxoulipiques">
    <skos:altLabel>Jeux OuLiPiques</skos:altLabel>
    <skos:prefLabel>Jeux OuLiPiques</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="journeedes2xii">
    <skos:prefLabel>Journée du 2 décembre 1982</skos:prefLabel>
    <skos:altLabel>Journée des 2XII</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="journeeecrivainsalgorithmeordinateur">
    <skos:prefLabel>journée écrivain-ordinateur de Juin 77</skos:prefLabel>
    <skos:altLabel>journée Ecrivains Algorithme ordinateur</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="journeeoulipo">
    <skos:prefLabel>Journée Oulipo</skos:prefLabel>
    <skos:altLabel>Journée Oulipo 23</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="journeeoulipobeaubourg">
    <skos:prefLabel>Journée Oulipo à Beaubourg</skos:prefLabel>
    <skos:altLabel>Journée Oulipo Beaubourg</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="journeepoetiquedu23avril">
    <skos:prefLabel>Journée poétique du 23 avril</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="journeescbeck">
    <skos:altLabel>journées Ch. Bek</skos:altLabel>
    <skos:prefLabel>Journées Christian Beck</skos:prefLabel>
    <skos:altLabel>Journées C. Beck</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lacommemorationdu10clinamen">
    <skos:prefLabel>Commémoration du 10 clinamen</skos:prefLabel>
    <skos:altLabel>la commémoration du 10 clinamen</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="laffaireliegeoise">
    <skos:prefLabel>L'affaire liégeoise</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lafureurdelire">
    <skos:prefLabel>La fureur de lire</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lahayeorganisationdunstage">
    <skos:altLabel>La Haye</skos:altLabel>
    <skos:prefLabel>La Haye organisation d'un stage</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lalectureoulipoautheatreduquartierdivry">
    <skos:prefLabel>Lecture Oulipo à Ivry</skos:prefLabel>
    <skos:altLabel>la Lecture oulipo au Théâtre du quartier d'Ivry</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lapierouge">
    <skos:prefLabel>Représentation de La Pie rouge </skos:prefLabel>
    <skos:altLabel>La pie rouge</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="larevueparleeror">
    <skos:prefLabel>La revue parlée « R.O.R. »</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lecture">
    <skos:altLabel>Lecture</skos:altLabel>
    <skos:altLabel>Lectures</skos:altLabel>
    <skos:prefLabel>Lecture</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lectureaaixoubeaubourg">
    <skos:prefLabel>Lecture à Aix ou Beaubourg</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lectureathletes">
    <skos:prefLabel>Lecture « Athlètes »</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lecturedelaviemodedemploiapompidou">
    <skos:prefLabel>Lecture de La vie mode d'emploi à Pompidou</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lecturefnac">
    <skos:prefLabel>Lecture FNAC</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lecturegpaumillefeuilles">
    <skos:prefLabel>Lecture Georges Perec au Millefeuilles</skos:prefLabel>
    <skos:altLabel>Lecture GP au Millefeuilles</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lecturelimours">
    <skos:prefLabel>Lecture Limours</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lectureoulipienne">
    <skos:prefLabel>lecture oulipienne</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lectureoulipo">
    <skos:prefLabel>Lecture Oulipo</skos:prefLabel>
    <skos:altLabel>Lecture Oulipo à Ivry</skos:altLabel>
    <skos:altLabel>Lecture Oulipo sur la Rime</skos:altLabel>
    <skos:altLabel>lecture de l'Oulipo</skos:altLabel>
    <skos:altLabel>lecture Oulipienne</skos:altLabel>
    <skos:altLabel>lecture Oulipo</skos:altLabel>
    <skos:altLabel>Lecture Oulipo</skos:altLabel>
    <skos:altLabel>lecture oulipo</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lectureperec">
    <skos:prefLabel>Lecture Perec</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lecturepoetiqueaivry">
    <skos:prefLabel>Lecture poétique à Ivry</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lecturequeneau">
    <skos:prefLabel>Lecture Queneau</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lecturequenienne">
    <skos:prefLabel>Lecture quenienne</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lemillenaire">
    <skos:prefLabel>Le Millénaire</skos:prefLabel>
    <skos:altLabel>Le millenaire</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lesheritiersdequeneau">
    <skos:prefLabel>Les héritiers de Queneau</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lesimmateriaux">
    <skos:altLabel>Immatériaux</skos:altLabel>
    <skos:altLabel>Les immatériaux</skos:altLabel>
    <skos:altLabel>l'exposition beaubourgeoise « Les immatériaux </skos:altLabel>
    <skos:altLabel>l'expositionLes Immatériaux</skos:altLabel>
    <skos:prefLabel>Exposition Les Immatériaux</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lesmathematiquesetlart">
    <skos:prefLabel>Les Mathématiques et l'Art</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="letricentenairedelafondationdeloulipo">
    <skos:prefLabel>Le tricentenaire de la fondation de l'Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="levenementdujeudi">
    <skos:prefLabel>L'événement du jeudi</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lexpositiondubuffet">
    <skos:altLabel>l'exposition Dubuffet</skos:altLabel>
    <skos:prefLabel>Exposition Dubuffet</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lexpositionlucsimon">
    <skos:altLabel>l'exposition Luc Simon</skos:altLabel>
    <skos:prefLabel>Exposition Luc Simon</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lhommageafll">
    <skos:prefLabel>Hommage à François Le Lionnais</skos:prefLabel>
    <skos:altLabel>L'hommage à FLL</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="liege">
    <skos:prefLabel>Présentation Oulipo à Liège</skos:prefLabel>
    <skos:altLabel>Liège</skos:altLabel>
    <skos:altLabel>Réunion de l'Oulipo à Liège</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="linformatiqueetlavieculturelle">
    <skos:prefLabel>L'informatique et la vie culturelle.</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lordinateurbeaubourg">
    <skos:prefLabel>L'ordinateur Beaubourg</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="loulipoavilleneuve">
    <skos:prefLabel>Oulipo à Villeneuve</skos:prefLabel>
    <skos:altLabel>l'oulipo à Villeneuve</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="lyon">
    <skos:prefLabel>Lyon</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="manifestationdebruxelles">
    <skos:prefLabel>Manifestation de Bruxelles</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="manifestationdeloulipo">
    <skos:altLabel>manifestation de l'OULIPO</skos:altLabel>
    <skos:prefLabel>Manifestation Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="manifestationdeuropalia">
    <skos:prefLabel>Manifestation d'EUROPALIA</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="manifestationoulipoabruxelles">
    <skos:prefLabel>Manifestation Oulipo à Bruxelles</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="manifestationoulipodejanvier76">
    <skos:prefLabel>Manifestation Oulipo de Janvier 76</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="manifestationqueneau">
    <skos:prefLabel>Manifestation Queneau</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="manifestationsoulipiennes">
    <skos:prefLabel>Manifestations oulipiennes</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="marchedelapoesie">
    <skos:prefLabel>Marché de la poésie</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="marseille">
    <skos:prefLabel>Marseille</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="medaillesfield">
    <skos:prefLabel>Médailles Field</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="mexico">
    <skos:prefLabel>Rencontre auteurs à Mexico</skos:prefLabel>
    <skos:altLabel>Mexico</skos:altLabel>
    <skos:altLabel>Mehico</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="millefeuille">
    <skos:altLabel>Millefeuille</skos:altLabel>
    <skos:prefLabel>Millefeuilles : journée Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="moisdelapoesieaaix">
    <skos:prefLabel>Mois de la poésie à Aix</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="moispataphysiquedemontreal">
    <skos:altLabel>Mai Pataphysique</skos:altLabel>
    <skos:prefLabel>Mois pataphysique de Montréal</skos:prefLabel>
    <skos:altLabel>Montréal</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="nantes">
    <skos:prefLabel>Nantes</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="nouvellemanifestationenfevriermars1976aucentrepompidou">
    <skos:altLabel>nouvelle Manifestation (en février ou mars 1976) au Centre Pompidou</skos:altLabel>
    <skos:prefLabel>Nouvelle Manifestation au Centre Pompidou</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="nuitfureurdelire">
    <skos:prefLabel>Nuit. Fureur de lire.</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="operationchristophecolomb">
    <skos:prefLabel>Opération Christophe Colomb</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="ordinateur">
    <skos:prefLabel>ordinateur</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="ordinateuretecrivain">
    <skos:altLabel>Ordinateur</skos:altLabel>
    <skos:altLabel>Journée écrivains-ordinateur</skos:altLabel>
    <skos:altLabel>écrivains-ordinateur</skos:altLabel>
    <skos:altLabel>écrivains et ordinateur</skos:altLabel>
    <skos:prefLabel>Ordinateur et écrivain</skos:prefLabel>
    <skos:altLabel>Ordinateur et écrivains</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oulibasque">
    <skos:altLabel>Oulibasque</skos:altLabel>
    <skos:prefLabel>OULIBASQUE</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oulipiades">
    <skos:prefLabel>Oulipiades</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oulipiadesdubaruchcollege">
    <skos:prefLabel>Oulipiades du Baruch College</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oulipo2emillenaire">
    <skos:prefLabel>Oulipo 2e millénaire</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oulipo3000">
    <skos:prefLabel>Oulipo 3000</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oulipocerisy">
    <skos:prefLabel>Oulipo à Cerisy</skos:prefLabel>
    <skos:altLabel>Oulipo 83 Cerisy</skos:altLabel>
    <skos:altLabel>Oulipo-Cerisy</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oulipoastockholm">
    <skos:prefLabel>Oulipo à Stockholm</skos:prefLabel>
    <skos:altLabel>une expo en janvier 79</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oulipogalaxie">
    <skos:prefLabel>Oulipo Galaxie</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oulipomathematiquesetpoesie">
    <skos:prefLabel>Oulipo, Mathématiques et Poésie</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="ouliposhow">
    <skos:prefLabel>Oulipo show</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="ouliposhowmontreal">
    <skos:prefLabel>Oulipo Show Montréal</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oulipostarparadisoulipien">
    <skos:prefLabel>Oulipo. STAR. Paradis oulipien</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oulipovilleneuve">
    <skos:prefLabel>Oulipo à Villeneuve</skos:prefLabel>
    <skos:altLabel>Oulipo Villeneuve</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="oupeinpo">
    <skos:prefLabel>Réunion Oupeinpo</skos:prefLabel>
    <skos:altLabel>Oupeinpo</skos:altLabel>
    <skos:altLabel>Peinpo</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="pennedutarn">
    <skos:prefLabel>Stage à Penne-du-Tarn</skos:prefLabel>
    <skos:altLabel>Penne-du-Tarn</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="penserclasserabeaubourg">
    <skos:prefLabel>Penser-classer à Beaubourg</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="pentecoteabourges">
    <skos:prefLabel>Pentecôte à Bourges</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="perecoulipoqueneau">
    <skos:prefLabel>Perec-Oulipo-Queneau</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="quinzaineinformatiqueetlitteratureapompidou">
    <skos:altLabel>Pompidou</skos:altLabel>
    <skos:prefLabel>Quinzaine informatique et littérature à Pompidou</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="portcros">
    <skos:prefLabel>Port Cros</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="preprimtec">
    <skos:prefLabel>Preprimtec</skos:prefLabel>
    <skos:altLabel>Preprimtech</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="presentationbaruchcuny">
    <skos:prefLabel>Présentation Baruch CUNY</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="presentationdestravauxordinateur">
    <skos:prefLabel>Présentation des travaux ordinateur</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="presentationnouvelleaprogramme">
    <skos:prefLabel>Présentation Nouvelle à programme</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="prochainereunion">
    <skos:prefLabel>prochaine réunion</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="programmeivrydu5mai87">
    <skos:prefLabel>Programme Ivry du 5 Mai 87</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="queneauetlaville">
    <skos:altLabel>Queneau et la ville</skos:altLabel>
    <skos:prefLabel>Queneau et la Ville</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="readhall">
    <skos:prefLabel>Read Hall</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="recitaldechansonssurdestextesderq">
    <skos:altLabel>Récital de chansons sur des textes de RQ</skos:altLabel>
    <skos:prefLabel>Récital de chansons sur des textes de Raymond Queneau</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="reims">
    <skos:prefLabel>Reims (Queneau et le cinéma)</skos:prefLabel>
    <skos:altLabel>Reims</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="rencontredelyon">
    <skos:prefLabel>Rencontre de Lyon</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="rencontresignature">
    <skos:prefLabel>Rencontre-signature</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="rencontresoulipo">
    <skos:prefLabel>Rencontres Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="representationachatenay">
    <skos:prefLabel>Représentation à Chatenay</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="reuniondelhotelplazaathenee">
    <skos:prefLabel>Réunion de l'Hôtel Plaza-Athénée</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="reunionexceptionnelle">
    <skos:prefLabel>Réunion pour le Dossier Oulipo</skos:prefLabel>
    <skos:altLabel>Réunion exceptionnelle</skos:altLabel>
    <skos:altLabel>Réunion facultative</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="reunionspeciale">
    <skos:prefLabel>Réunion spéciale</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="royaumont">
    <skos:prefLabel>Stage à Royaumont</skos:prefLabel>
    <skos:altLabel>Royaumont</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagedesaintquentin">
    <skos:altLabel>Saint-Quentin</skos:altLabel>
    <skos:altLabel>Stage de Saint-Quentin</skos:altLabel>
    <skos:altLabel>stage de Saint-Quentin</skos:altLabel>
    <skos:prefLabel>Stage de Saint Quentin</skos:prefLabel>
    <skos:altLabel>St Quentin</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="salernofestivaldepoesie">
    <skos:altLabel>Salerno Festival de Poésie</skos:altLabel>
    <skos:prefLabel>Festival de Poésie (Salerno)</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="salondelautomobile">
    <skos:prefLabel>Salon de l'Automobile</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="salondulivre">
    <skos:prefLabel>Salon du livre</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="salonoct89">
    <skos:prefLabel>Salon octobre 1989</skos:prefLabel>
    <skos:altLabel>Salon oct. 89</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seancebeaubourg">
    <skos:prefLabel>Séance Beaubourg</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seancedeloulipo">
    <skos:prefLabel>Séance de l'Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seanceoulipo">
    <skos:altLabel>séance Oulipo</skos:altLabel>
    <skos:altLabel>séance OULIPO</skos:altLabel>
    <skos:prefLabel>Séance Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seanceoulipodu23marsabeaubourg">
    <skos:prefLabel>Séance Oulipo du 23 mars à Beaubourg</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seancexenakis">
    <skos:prefLabel>Séance Xénakis</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="semainearoyaumont">
    <skos:prefLabel>Semaine à Royaumont</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="semainedavignon">
    <skos:altLabel>Semaine d'Avignon</skos:altLabel>
    <skos:altLabel>Semaine Oulipo à la Chartreuse de Villeneuve-lès-Avignon</skos:altLabel>
    <skos:altLabel>Stage à Avignon</skos:altLabel>
    <skos:altLabel>stage à Villeneuve</skos:altLabel>
    <skos:prefLabel>Stage de Villeneuve-les-Avignon</skos:prefLabel>
    <skos:altLabel>Stage Villeneuve</skos:altLabel>
    <skos:altLabel>Villeneuve</skos:altLabel>
    <skos:altLabel>Villeneuve Expo</skos:altLabel>
    <skos:altLabel>Stage de Villeneuve</skos:altLabel>
    <skos:altLabel>Villeneuve-lès-Avignon</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="semaineoulipo">
    <skos:altLabel>semaine Oulipo</skos:altLabel>
    <skos:altLabel>semaine OULIPO</skos:altLabel>
    <skos:prefLabel>Semaine Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="semaineoulipoaroyaumont">
    <skos:prefLabel>Semaine Oulipo à Royaumont</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="semaineoulipodejuillet">
    <skos:prefLabel>Semaine Oulipo de juillet</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="semaineperec">
    <skos:prefLabel>Semaine Perec</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seminaireaumoulindande">
    <skos:altLabel>Séminaire Andé</skos:altLabel>
    <skos:prefLabel>Séminaire au Moulin d'Andé</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seminairecreatif">
    <skos:altLabel>séminaire créatif au Moulin</skos:altLabel>
    <skos:altLabel>séminaire créatif Oulipo</skos:altLabel>
    <skos:prefLabel>Séminaire créatif</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seminairede">
    <skos:altLabel>Séminaire de</skos:altLabel>
    <skos:prefLabel>Séminaire</skos:prefLabel>
    <skos:altLabel>Séminaire de</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seminairedelacan">
    <skos:prefLabel>Séminaire de Lacan</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seminairedelinguistiquequantitative">
    <skos:altLabel>Séminaire Linguistique quantitative</skos:altLabel>
    <skos:prefLabel>Séminaire de Linguistique quantitative</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seminairedintoxication">
    <skos:prefLabel>Séminaire d'intoxication</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seminaireperec">
    <skos:prefLabel>Séminaire Perec</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="seminairequeneau">
    <skos:prefLabel>Séminaire Queneau</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="serres21janvier">
    <skos:prefLabel>Stage à Serres</skos:prefLabel>
    <skos:altLabel>Serres 21 janvier</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="soireeperec">
    <skos:altLabel>Soirée</skos:altLabel>
    <skos:prefLabel>Soirée Perec</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="soiree">
    <skos:prefLabel>Soirée 24</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="soireebruxelloise">
    <skos:prefLabel>soirée bruxelloise</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="soireeoulipienneabruxelles">
    <skos:prefLabel>Soirée oulipienne à Bruxelles</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="soireeoulipo">
    <skos:prefLabel>Soirée Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="soireequeneau">
    <skos:prefLabel>Soirée Queneau</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="spectacledepoemesroubaud">
    <skos:prefLabel>Spectacle de poèmes-Roubaud</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="spectaclelectureavilleneuve">
    <skos:prefLabel>Spectacle -Lecture à Villeneuve</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="spectacleoulipo">
    <skos:prefLabel>Spectacle Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="spectacleperecavilleneuvelesavignon">
    <skos:prefLabel>Spectacle Perec à Villeneuve lès Avignon</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="spectaclequeneau">
    <skos:prefLabel>Spectacle Queneau</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="spectacleroubaud">
    <skos:prefLabel>Spectacle Roubaud</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="spectaclezerki">
    <skos:prefLabel>Spectacle Zerki</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stage">
    <skos:altLabel>stage</skos:altLabel>
    <skos:altLabel>stage le 10-11 juin</skos:altLabel>
    <skos:altLabel>stages</skos:altLabel>
    <skos:prefLabel>Stage</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagealamaisondugesteetdelimage">
    <skos:prefLabel>Stage à la Maison du Geste et de l'Image</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagealamo">
    <skos:altLabel>stage alamo</skos:altLabel>
    <skos:altLabel>stage Alamo</skos:altLabel>
    <skos:prefLabel>Stage Alamo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stageamiens">
    <skos:altLabel>stage d'Amiens</skos:altLabel>
    <skos:prefLabel>Stage Amiens</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stageavitria">
    <skos:prefLabel>Stage à Vitria</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagedelahaye">
    <skos:prefLabel>Stage de La Haye</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagedepaques">
    <skos:prefLabel>Stage de Pâques</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagederoyaumont">
    <skos:prefLabel>Stage de Royaumont</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagedete">
    <skos:prefLabel>Stage d'été</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stageliege">
    <skos:altLabel>Stage à Liège</skos:altLabel>
    <skos:prefLabel>Stage Liège</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stageoulipo">
    <skos:altLabel>Stage oulipo</skos:altLabel>
    <skos:altLabel>stage oulipo</skos:altLabel>
    <skos:altLabel>stage OULIPO</skos:altLabel>
    <skos:altLabel>stage Oulipo</skos:altLabel>
    <skos:prefLabel>Stage Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stageoulipoalimoges">
    <skos:altLabel>Limoges</skos:altLabel>
    <skos:altLabel>Stage Limoges</skos:altLabel>
    <skos:prefLabel>Stage Oulipo à Limoges</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stageoulipoamiens">
    <skos:prefLabel>Stage Oulipo-Amiens</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stageoulipoanewyorkenoctobreounovembre1987">
    <skos:prefLabel>Stage Oulipo à New York</skos:prefLabel>
    <skos:altLabel>Stage Oulipo à New York en Octobre ou Novembre 1987</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stageoulipoderajat">
    <skos:prefLabel>Stage Oulipo de Rajat</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stageportcros">
    <skos:prefLabel>Stage Port Cros</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stages">
    <skos:prefLabel>Stages</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagesdevreux">
    <skos:altLabel>Evreux</skos:altLabel>
    <skos:prefLabel>Stages d'Evreux</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagesommieres">
    <skos:prefLabel>Stage Sommières</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagesurlanouvelle">
    <skos:altLabel>stage sur la nouvelle</skos:altLabel>
    <skos:prefLabel>Stage sur la nouvelle</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagetulle">
    <skos:prefLabel>Stage Tulle</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stagevitoria">
    <skos:prefLabel>Stage Vitoria</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="stageyerres">
    <skos:altLabel>Stage à Yerres</skos:altLabel>
    <skos:prefLabel>Stage d'Yerres</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="strasbourg">
    <skos:prefLabel>Strasbourg</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="supercocktail">
    <skos:prefLabel>Super-Cocktail</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="tableronde">
    <skos:prefLabel>Table-Ronde</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="theatre">
    <skos:prefLabel>Théâtre (Générale du Dimanche de la vie)</skos:prefLabel>
    <skos:altLabel>Théâtre</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="thionville">
    <skos:prefLabel>Invitation à Thionville</skos:prefLabel>
    <skos:altLabel>Thionville</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="toulouse">
    <skos:prefLabel>Emission FR3 à Toulouse</skos:prefLabel>
    <skos:altLabel>Toulouse</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="tourneedelacompagniecatherinedaste">
    <skos:prefLabel>Tournée de la compagnie Catherine Dasté</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="tourneeoulipoaliege">
    <skos:prefLabel>Tournée Oulipo à Liège</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="tricentenaire">
    <skos:prefLabel>Tricentenaire</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="verviers">
    <skos:prefLabel>Verviers</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="visitedeloulipo">
    <skos:prefLabel>Visite de l'Oulipo</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="vitoria">
    <skos:altLabel>Atelier Oulipo à Vitoria</skos:altLabel>
    <skos:prefLabel>Vitoria</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="voyageenbelgique">
    <skos:prefLabel>Voyage en Belgique</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="weekenddemannecy">
    <skos:prefLabel>Week-end de Mannecy</skos:prefLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="weekenddetravail">
    <skos:altLabel>week-end de travail</skos:altLabel>
    <skos:prefLabel>Week-end de travail (congrès)</skos:prefLabel>
    <skos:altLabel>Weekend de travail</skos:altLabel>
  </skos:Concept>
  <skos:Concept rdf:ID="weekendoulipodemennecy">
    <skos:prefLabel>Week-end Oulipo de Mennecy</skos:prefLabel>
  </skos:Concept>
</rdf:RDF>
